@page
{
	border-style:solid;
 	border-color:gray;

	@bottom-Right
	{
		content:counter(page) "-of-" count(page);
	}
	.signature
	{
	 border: 1px solid black;
 	 width: 300px;
 	 height : 75px;
 	 float: right; 
	}
	.pheight
	{
		height:70px;
	}
	.fclogo
	{
		height:100px;
		Float:left;
		padding:10px;
	}
	.dutchladylogo
	{
		height:100px;
		Float:right;
		padding:10px;
	}
}

